.sideDrawer-container {
    height: 100%;
    background: #fff;
    box-shadow: 1px 0 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
}

.sideDrawer-container.open {
    transform: translateX(0);
}

.container {
    margin-top: 50px;
}

.sideDrawer-item{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: .9em;
    margin: 0 auto;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.sideDrawer-item:active {
    font-weight: 900; 
}


@media only screen and (min-width: 769px) {
    .sideDrawer-container {
        display: none;
    }
}
