@media only screen and (max-width: 399px) {
    .custom-button {
        min-width: 180px;
        width: 40%;
        height: 40px;
        margin-top: 20px;
        letter-spacing: 0.5px;
        font-size: 14px;
        background-color: black;
        color: white;
        border: none;
        cursor: pointer;
    }

    .custom-button:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
    }

    .google-sign-in {
        background-color: #4285f4;
        color: white;
    }

    .google-sign-in:hover {
        background-color: #357ae8;
        color: white;
        border: none;
    }
}


@media only screen and (min-width: 400px) and (max-width: 799px) {
    .custom-button {
        
        width: 48%;
        height: 48px;
        margin-top: 0px;
        letter-spacing: 0.5px;
        font-size: 12px;
        background-color: black;
        color: white;
        border: none;
        cursor: pointer;
    }

    .custom-button:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
    }

    .google-sign-in {
        background-color: #4285f4;
        color: white;
    }

    .google-sign-in:hover {
        background-color: #357ae8;
        color: white;
        border: none;
    }
}



@media only screen and (min-width: 800px) and (max-width: 899px) {
    .custom-button {
        min-width: 100px;
        width: 48%;
        height: 50px;
        margin-top: 0px;
        letter-spacing: 0.5px;
        font-size: 14px;
        background-color: black;
        color: white;
        border: none;
        cursor: pointer;
    }

    .custom-button:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
    }

    .google-sign-in {
        background-color: #4285f4;
        color: white;
    }

    .google-sign-in:hover {
        background-color: #357ae8;
        color: white;
        border: none;
    }
}


/* Desktop */
@media only screen and (min-width: 900px) {
    .custom-button {
        min-width: 180px;
        width: 48%;
        height: 54px;
        margin-top: 0px;
        letter-spacing: 0.5px;
        font-size: 14px;
        background-color: black;
        color: white;
        border: none;
        cursor: pointer;
        
    }

    .custom-button:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
    }

    .google-sign-in {
        background-color: #4285f4;
        color: white;
    }

    .google-sign-in:hover {
        background-color: #357ae8;
        color: white;
        border: none;
    }
}
