/* Mobile */
@media only screen and (max-width: 849px) {
    .shop-hairPage-container {
        width: 100%;
        
    }

    
}

/* Pad */
@media only screen and (min-width: 850px) and (max-width: 1199px) {
    .shop-hairPage-container {
        width: 80%;
        margin-top: -3px;
        
    }

}

/* Desktop */

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .shop-hairPage-container {
        width: 80%;
        margin-top: -7px;
        
    }

    
}

/* Max-Desktop */

@media only screen and (min-width: 1441px) {
    .shop-hairPage-container {
        width: 80%;
        margin-top: -7px;
    }
}
