/* Mobile */
@media only screen and (max-width: 849px) {
    .skincare-collections {
        width: 100%;
        margin-top: 8vw;
        margin-bottom: -8vw
    }

    .skincare-title {
        font-size: .8em;
        font-weight: 600;
        cursor: pointer;
    }
    
    .skincare-collections-preview {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 4vw;
        
    }
}

/* Pad */
@media only screen and (min-width: 850px) and (max-width: 1199px) {
    .skincare-collections {
        margin-left: 1.1vw;
        width: 100%;
    }

    .skincare-title {
        font-size: .9em;
        font-weight: 500;
        margin-left: 1.7vw;
        margin-bottom: 1.8vw;
        cursor: pointer;
    }
 
    .skincare-collections-preview {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        
    }
}

/* Desktop */

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .skincare-collections {
        margin-left: 1.1vw;
        width: 100%;
    }

    .skincare-title {
        font-size: 1em;
        font-weight: 500;
        margin-left: 1.7vw;
        margin-bottom: 1.5vw;
        cursor: pointer;
    }
 
    .skincare-collections-preview {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        
    }

    
}

/* Max-Desktop */

@media only screen and (min-width: 1441px) {
 
    .skincare-collections {
        margin-left: 1.1vw;
        width: 100%;
    }

    .skincare-title {
        font-size: 1em;
        font-weight: 500;
        margin-left: 1.7vw;
        margin-bottom: 1.5vw;
        cursor: pointer;
    }
 
    .skincare-collections-preview {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        
    }
}
