@media only screen and (max-width: 399px){
    .sign-in h2 {
        font-size: 1.5em;
        margin-bottom: -25px;
        
    }
    
    form {
        margin-top: 55px;
    }

    .goToSignUp {
        display: inline-flex;
        align-items: center;
        margin-top: -20px;
        margin-bottom: 32px;
    }

    .no-account {
        font-size: .7em;
        
    }

    .link-to-sign-up {
        font-size: .7em;
        margin-left: 10px;
        text-decoration: underline;
    }


}

/* Desktop */
@media only screen and (min-width: 400px) and (max-width: 1440px) {
    .sign-in h2 {
        font-size: 2.1em;
        
    }

    form {
        margin-top: 55px;
    }

    .goToSignUp {
        display: inline-flex;
        align-items: center;
        margin-top: -20px;
        margin-bottom: 60px;
        
    }

    .no-account {
        font-size: .8em;
        
    }

    .link-to-sign-up {
        font-size: .8em;
        margin-left: 10px;
        text-decoration: underline;
    }

}

/* Max-Desktop */
@media only screen and (min-width: 1441px) {
    .sign-in h2 {
        font-size: 2.1em;
    }
    
    form {
        margin-top: 55px;
    }

    .goToSignUp {
        display: inline-flex;
        align-items: center;
        margin-top: -20px;
        margin-bottom: 66px;
    }

    .no-account {
        font-size: .9em;
        
    }

    .link-to-sign-up {
        font-size: .9em;
        margin-left: 10px;
        text-decoration: underline;
    }

}