/* Mobile */
@media only screen and (max-width: 767px) {
    .q10-page {
        width: 90%;
        margin: 70px auto;
        
        
    }
    

    
    .q10-page-overview {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        
        border: solid;
    }
}

/* Pad */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .q10-page {
        width: 90%;
        margin: 70px auto;
        display: flex;
        
    }
    
 
    .page-menu {
        width: 40%;
        border: solid;
    }
    
    .q10-page-overview {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        
        border: solid;
    }
}

/* Desktop */

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .q10-page {
        width: 90%;
        margin: 70px auto;
        display: flex;
        
    }
    
 
    .page-menu {
        width: 40%;
        border: solid;
    }
    
    .q10-page-overview {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        
        border: solid;
    }

    
}

/* Max-Desktop */

@media only screen and (min-width: 1441px) {
    .q10-page {
        width: 80%;
        margin: 70px auto;
        display: flex;
        
    }
    
 
    .page-menu {
        width: 40%;
        border: solid;
    }
    
    .q10-page-overview {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        border: solid;
        
    }
}
