/* Mobile-1 */
@media only screen and (max-width: 532px) {
    .must-have-card {
        max-width: 40vw;
        
        cursor: pointer;
        margin: 1.5vh 3vw 1.5vh 0;
        box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.1);
    
    }
    
    
    
    .productImage img {
        max-width: 42vw;
        
    }
    
    .productContent {
        width: 90%;
        margin: 1vh auto;
        line-height: 2em;
        display: flex;
        flex-direction: column;
        
    }
    
    
    
    .content.name {
        font-size: .9em;
        line-height: 1.6em;
    }
    
    .content.price {
        font-size: 1em;
        text-align: left;
        width: 40%;
        
    }
}

/* Mobile-2 */
@media only screen and (min-width: 533px) and (max-width: 767px) {
    .must-have-card {
        max-width: 18vw;
        min-width: 29vw;
        
        cursor: pointer;
        margin: 3vh 2.6vw 3vh 0;
        box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.1);
    
    }
    
    
    
    .productImage img {
        max-width: 29vw;
        
    }
    
    .productContent {
        width: 90%;
        margin: 2vh auto;
        line-height: 2em;
        display: flex;
        flex-direction: column;
        
        
    }
    
    
    
    .content.name {
        font-size: .9em;
        line-height: 1.6em;
    }
    
    .content.price {
        font-size: 1.2em;
        text-align: left;
        width: 30%;
        
    }
}

/* Pad */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
.must-have-card {
        max-width: 18vw;
        min-width: 20.5vw;
        
        cursor: pointer;
        margin: 2vh 2.6vw 3vh 0;
        box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.1);
    
    }
    
    
    
    .productImage img {
        max-width: 20.5vw;
        
    }
    
    .productContent {
        width: 90%;
        margin: 2vh auto;
        line-height: 2em;
        display: flex;
        flex-direction: column;
        
        
    }
    
    
    
    .content.name {
        font-size: .9em;
        
    }
    
    .content.price {
        font-size: 1.2em;
        text-align: left;
        width: 30%;
        
    }
}

/* Desktop */

@media only screen and (min-width: 1200px) {
    .must-have-card {
        max-width: 20vw;
        min-width: 18vw;
        max-height: 62vh;
        cursor: pointer;
        margin: 3vh 2.6vw 3vh 0;
        box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.1);
        
    }
    
    
    
    .productImage img {
        max-width: 18vw;
        
    }
    
    .productContent {
        width: 90%;
        margin: 2vh auto;
        line-height: 2em;
        display: flex;
        flex-direction: column;
        
        
    }
    
    
    
    .content.name {
        font-size: .9em;
        
    }
    
    .content.price {
        font-size: 1.4vw;
        text-align: left;
        width: 30%;
        
    }
}
