/* Mobile*/
@media only screen and (max-width: 549px) {
  
    .toolbar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 5;
        box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.15);
    }
    .toolbar_navigation {
        height: 45px;
        background: #fff;
        
    }

    .toolbar_navigation-content {
        width: 90%;
        height: 45px;
        display: flex;
        justify-content: space-between;
        
        margin: 0 auto;
        padding-top: 2px;
        align-items: center;
        
    }

    .mobile_navigation {
        height: 45px;
        background: #fff;
        border-top: .03em solid rgba(0,0,0,0.2);
    }

    .mobile-options-container {
        width: 90%;
        height: 45px;
        margin: 0 auto;
        
    }


    .logo-container {
        width: 50px;
        
    }

    .options-container {
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: space-between; 
        
    }

    .options1 {
        display: none;
    }


    .mobile-options1 {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .options2 {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
    }

    .option {
        padding: 10px 0px 10px 20px;
        font-size: .6em;
        
        cursor: pointer;
    }
}

/* Pad */
@media only screen and (min-width: 550px) and (max-width: 879px) {
  
    .toolbar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 5;
        box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.15);
    }
    .toolbar_navigation {
        height: 45px;
        background: #fff;
        
    }

    .toolbar_navigation-content {
        width: 90%;
        height: 45px;
        display: flex;
        justify-content: space-between;
        
        margin: 0 auto;
        padding-top: 2px;
        align-items: center;
        
    }

    .mobile_navigation {
        height: 45px;
        background: #fff;
        border-top: .03em solid rgba(0,0,0,0.2);
    }

    .mobile-options-container {
        width: 90%;
        height: 45px;
        margin: 0 auto;
        
    }


    .logo-container {
        width: 50px;
        
    }

    .options-container {
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: space-between; 
        
    }

    .options1 {
        display: none;
    }


    .mobile-options1 {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .options2 {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
    }

    .option {
        padding: 10px 0px 10px 20px;
        font-size: .7em;
        
        cursor: pointer;
    }
}

/* Desktop */
@media only screen and (min-width: 880px) {

    .toolbar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 5;
        box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.15);
    }
    .toolbar_navigation {
        height: 50px;
        background: #fff;
        
    }

    .toolbar_navigation-content {
        width: 90%;
        height: 50px;
        
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding-top: 2px;
        align-items: center;
        background: #fff;
        
    }

    .mobile_navigation {
        display: none;
    }


    .logo-container {
        width: 65px;
        
    }

    .options-container {
        width: 66%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between; 
        
    }

    .options1 {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .options2 {
        
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
    }

    .option {
        padding: 10px 0px 10px 30px;
        font-size: .75em;
        
        cursor: pointer;
    }

}