/* Mobile*/
@media only screen and (max-width: 549px) {
  
    .toolbar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 5;
        box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.15);
    }
    .toolbar_navigation {
        height: 45px;
        background: #fff;
        
    }

    .toolbar_navigation-content {
        width: 90%;
        height: 45px;
        display: flex;
        justify-content: space-between;
        
        margin: 0 auto;
        padding-top: 2px;
        align-items: center;
        
    }

    .mobile_navigation {
        height: 45px;
        background: #fff;
        border-top: .03em solid rgba(0,0,0,0.2);
    }

    .mobile-options-container {
        width: 90%;
        height: 45px;
        margin: 0 auto;
        
    }


    .logo-container {
        width: 50px;
        
    }

    .options-container {
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: space-between; 
        
    }

    .options1 {
        display: none;
    }


    .mobile-options1 {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .options2 {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
    }

    .option {
        padding: 5px 0 5px 4px;
        font-size: .7em;
        cursor: pointer;
    }

    .option.shopAll,
    .option.bestseller {
        margin-right: 5px;
        padding: 14px 10px;
    }

    /* hover dropdown styling */

    /* SHOP ALL */

    .shopall-dropdown {
        position: fixed;
        margin-top: 13px;
        left: 0px;
        width: 100vw;
        padding: 20px 20px;
        background: rgba(255, 255, 255, 0.95);
        border-top: .03em solid rgba(0,0,0,0.2);
        box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.2);
        display: none;
    }

    .shopall-dropdown-content {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .shopall-dropdown-col1,
    .shopall-dropdown-col2 {
        min-width: 85px;
        margin-right: 3vw;
        margin-bottom: -20px;
    }

    .shopall-dropdown-col3 {
        margin-top: 35px;
        max-width: 200px;
        
    }

    .shopall-dropdown-model-img {
        width: 40vw;
        max-width: 250px;
        min-width: 180px;
    }


    .dropdown-directory {
        font-size: .7em;
        font-weight: 600;
    }

    .dropdown-list-of-series {
        width: 80%;
        line-height: 2.8em;
        display: flex;
        flex-direction: column;
        font-size: .65em;
        margin-bottom: 10px;
    }

  

    /* shopall hover */

    .option.shopAll:hover {
        border-bottom: .03em solid rgb(101, 101, 101);
    }

    .shopall-option:hover .shopall-dropdown {
        display: block;
    }

     /* BEST-SELLERS */

     .bestSellers-dropdown {
        position: fixed;
        margin-top: 13px;
        left: 0px;
        width: 100vw;
        padding: 30px 0 16px 0;
        background: rgba(255, 255, 255, 0.95);
        border-top: .03em solid rgba(0,0,0,0.2);
        box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.2);
        display: none;
    }

    .bestSellers-dropdown-content {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
        margin: 0 auto;
       
        
    }

    .bestSellers-dropdown-frame {
        cursor: pointer;
    }

    .bestSellers-dropdown-img {
        max-width: 42vw;
    }

    .bestSellers-dropdown-img:hover {
        opacity: 0.88;
    }

    .bestSellers-dropdown-title {
        margin-top: 10px;
        font-size: .7em;
    }



    /* best-sellers hover */

    .option.bestseller:hover {
        border-bottom: .03em solid rgb(101, 101, 101);
    }

    .bestseller-option:hover .bestSellers-dropdown {
        display: block;
    }

}

/* Pad */
@media only screen and (min-width: 550px) and (max-width: 879px) {
  
    .toolbar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 5;
        box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.15);
    }
    .toolbar_navigation {
        height: 45px;
        background: #fff;
        
    }

    .toolbar_navigation-content {
        width: 90%;
        height: 45px;
        display: flex;
        justify-content: space-between;
        
        margin: 0 auto;
        padding-top: 2px;
        align-items: center;
        
    }

    .mobile_navigation {
        height: 45px;
        background: #fff;
        border-top: .03em solid rgba(0,0,0,0.2);
    }

    .mobile-options-container {
        width: 90%;
        height: 45px;
        margin: 0 auto;
        
    }


    .logo-container {
        width: 50px;
        
    }

    .options-container {
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: space-between; 
        
    }

    .options1 {
        display: none;
    }


    .mobile-options1 {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .options2 {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
    }

    .option {
        padding: 5px 0 5px 8px;
        font-size: .7em;
        cursor: pointer;
    }

    .option.shopAll,
    .option.bestseller {
        margin-right: 10px;
        padding: 14px 10px;
    }




    /* hover dropdown styling */

    /* SHOP ALL */

    .shopall-dropdown {
        position: fixed;
        margin-top: 13px;
        left: 0px;
        width: 100vw;
        padding: 20px 20px;
        background: rgba(255, 255, 255, 0.95);
        border-top: .03em solid rgba(0,0,0,0.2);
        box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.2);
        display: none;
    }

    .shopall-dropdown-content {
        width: 80%;
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        
    }

    .shopall-dropdown-col1,
    .shopall-dropdown-col2 {
        min-width: 100px;
        margin-right: 2.5vw;
    }

    .shopall-dropdown-col3 {
        margin-top: 35px;
        max-width: 206px;
        
    }

    .shopall-dropdown-model-img {
        width: 40vw;
        max-width: 220px;
    }


    .dropdown-directory {
        font-size: .75em;
        font-weight: 600;
    }

    .dropdown-list-of-series {
        width: 80%;
        line-height: 2.8em;
        display: flex;
        flex-direction: column;
        font-size: .7em;
        margin-bottom: 10px;
    }

  

    /* shopall hover */

    .option.shopAll:hover {
        border-bottom: .03em solid rgb(101, 101, 101);
    }

    .shopall-option:hover .shopall-dropdown {
        display: block;
    }


    /* BEST-SELLERS */

    .bestSellers-dropdown {
        position: fixed;
        margin-top: 13px;
        left: 0px;
        width: 100vw;
        padding: 42px 0 32px 0;
        background: rgba(255, 255, 255, 0.95);
        border-top: .03em solid rgba(0,0,0,0.2);
        box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.2);
        display: none;
    }

    .bestSellers-dropdown-content {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        margin: 0 auto;
       
        
    }

    .bestSellers-dropdown-frame {
        margin: 0 5vw;
        cursor: pointer;
    }

    .bestSellers-dropdown-img {
        max-width: 35vw;
    }

    .bestSellers-dropdown-img:hover {
        opacity: 0.88;
    }

    .bestSellers-dropdown-title {
        margin-top: 20px;
        font-size: .7em;
    }



    /* best-sellers hover */

    .option.bestseller:hover {
        border-bottom: .03em solid rgb(101, 101, 101);
    }

    .bestseller-option:hover .bestSellers-dropdown {
        display: block;
    }


}

/* Desktop */
@media only screen and (min-width: 880px) and (max-width: 1500px){

    .toolbar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 5;
        box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.15);
    }
    .toolbar_navigation {
        height: 50px;
        background: #fff;
        
    }

    .toolbar_navigation-content {
        width: 90%;
        height: 50px;
        
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding-top: 2px;
        align-items: center;
        background: #fff;
        
    }

    .mobile_navigation {
        display: none;
    }


    .logo-container {
        width: 60px;
        
    }

 
    .options-container {
        width: 63%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between; 
        
    }

    .options1 {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
    }

    .options2 {
        
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
    }

    .option.shopAll,
    .option.bestseller{
        margin: 0 15px;
        padding: 16px 6px;
        font-size: .75em;
        cursor: pointer;  
    }

    .option{
        margin: 0 15px;
        padding: 5px 6px;
        font-size: .75em;
        cursor: pointer;
        
    }

    /* option hover */

      .option:hover {
        border-bottom: .03em solid rgba(101, 101, 101, 0.95);
        
    }

    /* hover dropdown styling */

    /* SHOP ALL */

    .shopall-dropdown {
        position: fixed;
        margin-top: 15px;
        left: 0px;
        width: 100vw;
        padding: 20px 20px;
        background: rgba(255, 255, 255, 0.95);
        border-top: .03em solid rgba(0,0,0,0.2);
        box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.2);
        display: none;
    }

    .shopall-dropdown-content {
        width: 42%;
        min-width: 600px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        
    }

    .shopall-dropdown-col1,
    .shopall-dropdown-col2 {
        min-width: 100px;
        margin-right: 3vw;
        
    }

    .shopall-dropdown-col3 {
        margin-top: 35px;
        max-height: 206px;
        
    }

    .shopall-dropdown-model-img {
        width: 260px;
    }



    .dropdown-directory {
        font-size: .75em;
        font-weight: 600;
    }

    .dropdown-list-of-series {
        width: 80%;
        line-height: 2.8em;
        display: flex;
        flex-direction: column;
        font-size: .7em;
        margin-bottom: 10px;
    }

  

    /* shopall hover */

    .option.shopAll:hover {
        border-bottom: .03em solid rgb(101, 101, 101);
    }

    .shopall-option:hover .shopall-dropdown {
        display: block;
    }




    /* BEST-SELLERS */

    .bestSellers-dropdown {
        position: fixed;
        margin-top: 15px;
        left: 0px;
        width: 100vw;
        padding: 42px 0 32px 0;
        background: rgba(255, 255, 255, 0.95);
        border-top: .03em solid rgba(0,0,0,0.2);
        box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.2);
        display: none;
    }

    .bestSellers-dropdown-content {
        width: 85%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
        margin: 0 auto;
        
        
    }

    .bestSellers-dropdown-frame {
        cursor: pointer;
    }

    .bestSellers-dropdown-img {
        max-width: 20vw;
    }

    .bestSellers-dropdown-img:hover {
        opacity: 0.88;
    }

    .bestSellers-dropdown-title {
        margin-top: 20px;
        font-size: .8em;
    }



    /* best-sellers hover */

    .option.bestseller:hover {
        border-bottom: .03em solid rgb(101, 101, 101);
    }

    .bestseller-option:hover .bestSellers-dropdown {
        display: block;
    }

   



}

/* Max-Desktop */
@media only screen and (min-width: 1501px) {

    .toolbar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 5;
        box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.15);
    }
    .toolbar_navigation {
        height: 50px;
        background: #fff;
        
    }

    .toolbar_navigation-content {
        width: 90%;
        height: 50px;
        
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding-top: 2px;
        align-items: center;
        background: #fff;
        
    }

    .mobile_navigation {
        display: none;
    }


    .logo-container {
        width: 65px;
        
    }

    .options-container {
        width: 59.5%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between; 
        
    }

    .options1 {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .options2 {
        
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
    }

    .option.shopAll,
    .option.bestseller{
        margin: 0 15px;
        padding: 16px 6px;
        font-size: .75em;
        cursor: pointer;  
    }

    .option{
        margin: 0 15px;
        padding: 5px 6px;
        font-size: .75em;
        cursor: pointer;
        
    }

    /* option hover */

    .option:hover {
        border-bottom: .03em solid rgba(101, 101, 101, 0.95);
        
    }


    /* hover dropdown styling */

    /* SHOP ALL */

    .shopall-dropdown {
        position: fixed;
        margin-top: 15px;
        left: 0px;
        width: 100vw;
        padding: 20px 20px;
        background: rgba(255, 255, 255, 0.95);
        border-top: .03em solid rgba(0,0,0,0.2);
        box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.2);
        display: none;
    }

    .shopall-dropdown-content {
        width: 32%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        
    }

    .shopall-dropdown-col1,
    .shopall-dropdown-col2 {
        min-width: 100px;
        margin-right: 3vw;
    }

    .shopall-dropdown-col3 {
        margin-top: 35px;
        max-height: 206px;
        
    }

    .shopall-dropdown-model-img {
        width: 260px;
    }

    .dropdown-directory {
        font-size: .75em;
        font-weight: 600;
    }

    .dropdown-list-of-series {
        width: 80%;
        line-height: 2.8em;
        display: flex;
        flex-direction: column;
        font-size: .7em;
        margin-bottom: 10px;
    }

    

    /* shopall hover */

    .option.shopAll:hover {
        border-bottom: .03em solid rgb(101, 101, 101);
    }

    .shopall-option:hover .shopall-dropdown {
        display: block;
    }




    /* BEST-SELLERS */

    .bestSellers-dropdown {
        position: fixed;
        margin-top: 15px;
        left: 0px;
        width: 100vw;
        padding: 42px 0 32px 0;
        background: rgba(255, 255, 255, 0.95);
        border-top: .03em solid rgba(0,0,0,0.2);
        box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.2);
        display: none;
    }

    .bestSellers-dropdown-content {
        width: 70%;
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin: 0 auto;
        
        
    }

    .bestSellers-dropdown-frame {
        cursor: pointer;
    }

    .bestSellers-dropdown-img {
        max-width: 16vw;
    }

    .bestSellers-dropdown-img:hover {
        opacity: 0.88;
    }

    .bestSellers-dropdown-title {
        margin-top: 20px;
        font-size: .8em;
    }



    /* best-sellers hover */

    .option.bestseller:hover {
        border-bottom: .03em solid rgb(101, 101, 101);
    }

    .bestseller-option:hover .bestSellers-dropdown {
        display: block;
    }


}