

/* Mobile */
@media only screen and (max-width: 849px) {

    .shop-all-page-container {
        width: 90%;
        margin: 100px auto;
        display: flex;
        flex-direction: column;
        
    }

    .shop-all-page-product-container {
        margin-top: 10px;
        
    }

    
}

/* Pad */
@media only screen and (min-width: 850px) and (max-width: 1199px) {

    .shop-all-page-container {
        margin: 100px auto;
        width: 80%;
        display: flex;
    }

    .shop-all-page-product-container {
        width: 80%;
    
    }

}

/* Desktop */

@media only screen and (min-width: 1200px) and (max-width: 1440px) {

    .shop-all-page-container {
        margin: 140px auto;
        width: 80%;
        display: flex;
        
    }

    .shop-all-page-product-container {
        width: 80%;
        
    }

    
}

/* Max-Desktop */

@media only screen and (min-width: 1441px) {

    .shop-all-page-container {
        margin: 100px auto;
        width: 80%;
        display: flex;
    }

    .shop-all-page-product-container {
        width: 80%;
    
    }

}

