/* Mobile-1 */
@media only screen and (max-width: 532px) {
    .shopAll-card {
        max-width: 45%;
        height: auto;
        cursor: pointer;
        margin: 0 0 8vh 2.8vw;
        box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.4);
        position: relative;
        opacity: 1;
        
    }

    .shopAllProductImage img {
        max-width: 100%;
        
    }



    .shopAll-card:hover .shopAll-custom-btn {
        opacity: 1;
    }

    
    .shopAllProductText {
        width: 90%;
        height: 25px;
        margin: 2vh auto;
        display: flex;
        justify-content: space-between;
        
    }
    
    
    
    .shopAllProductName {
        font-size: .65em;
        text-align: left;
        width: 80%;
        height:40px;
        line-height: 1.5em;
        
    }
    
    .shopAllProductPrice {
        font-size: .65em;
        text-align: right;
        width: 20%;
        height:40px;
        padding-top: 3px;
        
    }

    .shopAll-custom-btn {
        width: 90%;
        height: 28px;
        position: absolute;
        bottom: -38px;
        left: 5%;
        margin: 0 auto;
        font-size: .65em;
        background-color: white;
        color: black;
        border: 1px solid black;
        cursor: pointer;
        opacity: 0;
        transition: .5s ease;
    }

    .shopAll-custom-btn:hover {
        background-color: rgb(0, 0, 0);
        color: white;
        border: none;
        opacity: 1;
        cursor: pointer;
    }

    .shopAll-custom-btn:active {
        background-color: rgb(155, 155, 155);
        color: white;
        border: none;
        opacity: 1;
        
    }

    .shopAll-custom-btn:focus {
        outline: none;
    }

}

/* Mobile-2 */
@media only screen and (min-width: 533px) and (max-width: 849px) {
    .shopAll-card {
        max-width: 30%;
        height: auto;
        cursor: pointer;
        margin: 0 0 8.5vh 2.2vw;
        box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.4);
        position: relative;
        opacity: 1;
        
    }

    .shopAllProductImage img {
        max-width: 100%;
        
    }



    .shopAll-card:hover .shopAll-custom-btn {
        opacity: 1;
    }

    
    .shopAllProductText {
        width: 90%;
        height: 25px;
        margin: 2vh auto;
        display: flex;
        justify-content: space-between;
        
    }
    
    
    
    .shopAllProductName {
        font-size: .7em;
        text-align: left;
        width: 80%;
        height:40px;
        line-height: 1.5em;
        
    }
    
    .shopAllProductPrice {
        font-size: .7em;
        text-align: right;
        width: 20%;
        height:40px;
        padding-top: 3px;
        
    }

    .shopAll-custom-btn {
        width: 90%;
        height: 28px;
        position: absolute;
        bottom: -38px;
        left: 5%;
        margin: 0 auto;
        font-size: .7em;
        background-color: white;
        color: black;
        border: 1px solid black;
        cursor: pointer;
        opacity: 0;
        transition: .5s ease;
    }

    .shopAll-custom-btn:hover {
        background-color: rgb(0, 0, 0);
        color: white;
        border: none;
        opacity: 1;
        cursor: pointer;
    }

    .shopAll-custom-btn:active {
        background-color: rgb(155, 155, 155);
        color: white;
        border: none;
        opacity: 1;
        
    }

    .shopAll-custom-btn:focus {
        outline: none;
    }



}

/* Pad */
@media only screen and (min-width: 850px) and (max-width: 1199px) {
    .shopAll-card {
        max-width: 29%;
        height: auto;
        min-height: 295px;
        cursor: pointer;
        margin: 0 0 9.5vh 2vw;
        box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.4);
        position: relative;
        opacity: 1;
        
    }

    .shopAllProductImage img {
        max-width: 100%;
        
    }



    .shopAll-card:hover .shopAll-custom-btn {
        opacity: 1;
    }

    
    .shopAllProductText {
        width: 90%;
        height: 30px;
        margin: 2vh auto;
        display: flex;
        justify-content: space-between;
        
    }
    
    
    
    .shopAllProductName {
        font-size: .8em;
        text-align: left;
        width: 80%;
        height:40px;
        line-height: 1.5em;
        
    }
    
    .shopAllProductPrice {
        font-size: .8em;
        text-align: right;
        width: 20%;
        height:40px;
        padding-top: 3px;
        
    }

    .shopAll-custom-btn {
        width: 90%;
        height: 32px;
        position: absolute;
        bottom: -44px;
        left: 5%;
        margin: 0 auto;
        font-size: 14px;
        background-color: white;
        color: black;
        border: 1px solid black;
        cursor: pointer;
        opacity: 0;
        transition: .5s ease;
    }

    .shopAll-custom-btn:hover {
        background-color: rgb(0, 0, 0);
        color: white;
        border: none;
        opacity: 1;
        cursor: pointer;
    }

    .shopAll-custom-btn:active {
        background-color: rgb(155, 155, 155);
        color: white;
        border: none;
        opacity: 1;
        
    }

    .shopAll-custom-btn:focus {
        outline: none;
    }

}

/* Desktop */

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .shopAll-card {
        max-width: 22%;
        height: auto;
        cursor: pointer;
        margin: 0 0 9vh 1.6vw;
        box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.4);
        position: relative;
        opacity: 1;
       
    }


    .shopAllProductImage img {
        max-width: 100%;
        
    }



    .shopAll-card:hover .shopAll-custom-btn {
        opacity: 1;
    }

    
    .shopAllProductText {
        width: 90%;
        height: 30px;
        margin: 2vh auto;
        display: flex;
        justify-content: space-between;
    }
    
    
    
    .shopAllProductName {
        font-size: .8em;
        text-align: left;
        width: 80%;
        height:40px;
        line-height: 1.5em;
        
    }
    
    .shopAllProductPrice {
        font-size: .8em;
        text-align: right;
        width: 20%;
        height:40px;
        padding-top: 3px;
        
    }

    .shopAll-custom-btn {
        width: 90%;
        height: 35px;
        position: absolute;
        bottom: -46px;
        left: 5%;
        margin: 0 auto;
        font-size: 14px;
        background-color: white;
        color: black;
        border: 1px solid black;
        cursor: pointer;
        opacity: 0;
        transition: .5s ease;
    }

    .shopAll-custom-btn:hover {
        background-color: rgb(0, 0, 0);
        color: white;
        border: none;
        opacity: 1;
        cursor: pointer;
    }

    .shopAll-custom-btn:active {
        background-color: rgb(155, 155, 155);
        color: white;
        border: none;
        opacity: 1;
        
    }

    .shopAll-custom-btn:focus {
        outline: none;
    }
}


/* Max-Desktop */

@media only screen and (min-width: 1441px) {
    .shopAll-card {
        max-width: 22%;
        height: auto;
        min-height: 335px;
        cursor: pointer;
        margin: 0 0 8vh 1.65vw;
        box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.4);
        position: relative;
        opacity: 1;
    }

    .shopAllProductImage img {
        max-width: 100%;
        
    }



    .shopAll-card:hover .shopAll-custom-btn {
        opacity: 1;
    }

    
    .shopAllProductText {
        width: 90%;
        height: 30px;
        margin: 2vh auto;
        display: flex;
        justify-content: space-between;
    }
    
    
    
    .shopAllProductName {
        font-size: .8em;
        text-align: left;
        width: 80%;
        height:40px;
        line-height: 1.5em;
        
    }
    
    .shopAllProductPrice {
        font-size: .8em;
        text-align: right;
        width: 20%;
        height:40px;
        padding-top: 3px;
        
    }

    .shopAll-custom-btn {
        width: 90%;
        height: 38px;
        position: absolute;
        bottom: -52px;
        left: 5%;
        margin: 0 auto;
        font-size: 14px;
        background-color: white;
        color: black;
        border: 1px solid black;
        cursor: pointer;
        opacity: 0;
        transition: .5s ease;
    }

    .shopAll-custom-btn:hover {
        background-color: rgb(0, 0, 0);
        color: white;
        border: none;
        opacity: 1;
        cursor: pointer;
    }

    .shopAll-custom-btn:active {
        background-color: rgb(155, 155, 155);
        color: white;
        border: none;
        opacity: 1;
        
    }

    .shopAll-custom-btn:focus {
        outline: none;
    }
}
