/* Mobile */
@media only screen and (max-width: 849px) {

    
    .shop-all-page-overview {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 40px;
        
    }
}

/* Pad */
@media only screen and (min-width: 850px) and (max-width: 1199px) {

    
    
    .shop-all-page-overview {
        width: 100%;
        margin-left: 4px;
        display: flex;
        flex-wrap: wrap;
        
    }
}

/* Desktop */

@media only screen and (min-width: 1200px) and (max-width: 1440px) {

 
    .shop-all-page-overview {
        width: 100%;
        margin-left: 15px;
        display: flex;
        flex-wrap: wrap;
    }

    
}

/* Max-Desktop */

@media only screen and (min-width: 1441px) {
 
    .shop-all-page-overview {
        width: 100%;
        margin-left: 13px;
        display: flex;
        flex-wrap: wrap; 
    }
}
