@media only screen and (max-width: 530px) {
    .menu-item {
        min-width: 20%;
        height: 150px;
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 8px 8px 16px;
        background-position: center;
        background-size: cover;
        box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.4);
    }  
    
  
    .menu-item:nth-child(2) {
        width: 100%;
    }


        
    .menu-item:nth-child(3) {
        width: 100%;
    }
   
  
  

    .menu-background-image {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        transition: .5s ease;
    }
    
    
    .menu-content {
        width: 120px;
        display: flex;
        text-align: center;
        justify-content: center;
        line-height: 2em;
        letter-spacing: 1.2px;
        position: absolute;
        transition: .5s ease;
        opacity: 0;
    }
    
    .dirctory-menu-title {
        font-size: .9em;
        padding-bottom: 5px;
        border-bottom: 1px solid rgba(44, 44, 44, 1);
    }

    .menu-item:nth-child(2):hover .menu-background-image,
    .menu-item:nth-child(3):hover .menu-background-image,
    .menu-item:nth-child(4):hover .menu-background-image,
    .menu-item:last-child:hover .menu-background-image {
        opacity: 0.3;
    }

    .menu-item:hover .menu-content {
        opacity: 1;
    }
}

@media only screen and (min-width: 531px) and (max-width: 649px) {
    .menu-item {
        min-width: 35%;
        height: 230px;
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 8px 16px;
        background-position: center;
        background-size: cover;
        box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.4);
    }  
    
    .menu-item:first-child {
        width: 100%;
    }
    
    .menu-item:nth-child(2) {
        width: 48%;
    }

    .menu-item:last-child {
        width: 50%;
    }

    .menu-background-image {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        transition: .5s ease;
    }
    
    
    .menu-content {
        width: 160px;
        display: flex;
        text-align: center;
        justify-content: center;
        line-height: 2em;
        letter-spacing: 1.2px;
        position: absolute;
        transition: .5s ease;
        opacity: 0;
    }

    .dirctory-menu-title {
        font-size: 1.05em;
        padding-bottom: 6px;
        border-bottom: 1px solid rgba(44, 44, 44, 1);
    }

    .menu-item:nth-child(2):hover .menu-background-image,
    .menu-item:nth-child(3):hover .menu-background-image,
    .menu-item:nth-child(4):hover .menu-background-image,
    .menu-item:last-child:hover .menu-background-image {
        opacity: 0.3;
    }

    .menu-item:hover .menu-content {
        opacity: 1;
    }
}

@media only screen and (min-width: 650px) and (max-width: 887px) {
    .menu-item {
        min-width: 27%;
        height: 230px;
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px 20px;
        background-position: center;
        background-size: cover;
        box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.4);
    }  
    
    .menu-item:first-child {
        width: 40%;
    }
    
    .menu-item:nth-child(2) {
        width: 40%;
    }

    .menu-item:last-child {
        width: 25%;
    }

    .menu-background-image {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        transition: .5s ease;
    }
    
    
    
    .menu-content {
        width: 160px;
        display: flex;
        text-align: center;
        justify-content: center;
        line-height: 2em;
        letter-spacing: 1.1px;
        position: absolute;
        transition: .5s ease;
        opacity: 0;
    }
    
    .dirctory-menu-title {
        font-size: 1.2em;
        padding-bottom: 8px;
        border-bottom: 1px solid rgba(44, 44, 44, 1);
    }

    .menu-item:nth-child(2):hover .menu-background-image,
    .menu-item:nth-child(3):hover .menu-background-image,
    .menu-item:nth-child(4):hover .menu-background-image,
    .menu-item:last-child:hover .menu-background-image {
        opacity: 0.3;
    }

    .menu-item:hover .menu-content {
        opacity: 1;
    }
    
}


@media only screen and (min-width: 888px) and (max-width: 1065px) {
    .menu-item {
        min-width: 27%;
        height: 260px;
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 11px 22px;
        box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.4);
    }  
    
    .menu-item:first-child {
        width: 45%;
    }
    
    .menu-item:nth-child(2) {
        width: 45%;
    }

    .menu-background-image {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        transition: .5s ease;
    }
    
    
    .menu-content {
        width: 160px;
        display: flex;
        text-align: center;
        justify-content: center;
        position: absolute;
        line-height: 2em;
        letter-spacing: 1.2px;
        transition: .5s ease;
        opacity: 0;
    }
   
    .dirctory-menu-title {
        font-size: 1.2em;
        padding-bottom: 8px;
        border-bottom: 1px solid rgba(44, 44, 44, 1);
    }

    .menu-item:nth-child(2):hover .menu-background-image,
    .menu-item:nth-child(3):hover .menu-background-image,
    .menu-item:nth-child(4):hover .menu-background-image,
    .menu-item:last-child:hover .menu-background-image {
        opacity: 0.3;
    }

    .menu-item:hover .menu-content {
        opacity: 1;
    }
}


@media only screen and (min-width: 1066px) {
    .menu-item {
        min-width: 30%;
        height: 260px;
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background-position: center;
        background-size: cover;
        margin: 0 14px 28px;
        box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.4);
    }  
    
    
    .menu-item:first-child {
        width: 45%;
    }
    
    .menu-item:nth-child(2) {
        width: 45%;
    }

    .menu-background-image {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        transition: .5s ease;
    }
    
    
    
    .menu-content {
        width: 160px;
        display: flex;
        text-align: center;
        justify-content: center;
        line-height: 2em;
        letter-spacing: 1.2px;
        position: absolute;
        transition: .5s ease;
        opacity: 0;
        
    }

    .dirctory-menu-title {
        font-size: 1.2em;
        padding-bottom: 8px;
        border-bottom: 1px solid rgba(44, 44, 44, 1);
    }

    
 
    .menu-item:nth-child(2):hover .menu-background-image,
    .menu-item:nth-child(3):hover .menu-background-image,
    .menu-item:nth-child(4):hover .menu-background-image,
    .menu-item:last-child:hover .menu-background-image {
        opacity: 0.3;
    }

    .menu-item:hover .menu-content {
        opacity: 1;
    }
    
}





