@media only screen and (max-width: 1440px) {
    .directory-menu {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
}


@media only screen and (min-width:1441px) {
    .directory-menu {
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
}