/* Mobile */
@media only screen and (max-width: 849px) {
  

    /* Details of Menu */

    .menu-title {
        width: 100%;
        line-height: 2.5em;
        border-bottom: .8px solid rgba(44, 44, 44, 0.3);
        display: flex;
        justify-content: space-between;
    }

    .shop-all,
    .shop-by-collections {
        font-size: .75em;
        font-weight: 400;
    }

    .dropdown-toggle-btn {
        font-size: 900;
        cursor: pointer;
    }

   

}

/* Pad */
@media only screen and (min-width: 850px) and (max-width: 1199px) {
    .menu-container {
        width: 20%;
        padding-right: 10px;
        border-right: .5px solid rgba(44, 44, 44, 0.2);
        min-width: 160px;
    }
    /* Details of Menu */

    .menu-title {
        width: 100%;
        line-height: 2.8em;
        border-bottom: .8px solid rgba(44, 44, 44, 0.3);
        display: flex;
        justify-content: space-between;
     }
 
     .shop-all,
     .shop-by-collections {
         font-size: .8em;
         font-weight: 400;
     }

     .dropdown-toggle-btn {
        font-size: 900;
        cursor: pointer;
    }
 
    

}

/* Desktop */

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .menu-container {
        width: 19%;
        padding-right: 20px;
        border-right: .5px solid rgba(44, 44, 44, 0.2);
    }

    /* Details of Menu */

    .menu-title {
       width: 100%;
       line-height: 2.8em;
       border-bottom: .5px solid rgba(44, 44, 44, 0.3);
       display: flex;
       justify-content: space-between;
    }

    .shop-all,
    .shop-by-collections {
        font-size: .85em;
        font-weight: 400;
    }

    .dropdown-toggle-btn {
        font-size: 900;
        cursor: pointer;
    }

}

/* Max-Desktop */

@media only screen and (min-width: 1441px) {
    .menu-container {
        width: 19%;
        padding-right: 20px;
        border-right: .5px solid rgba(44, 44, 44, 0.2);
    }

    /* Details of Menu */

    .menu-title {
        width: 100%;
        line-height: 2.8em;
        border-bottom: .8px solid rgba(44, 44, 44, 0.3);
        display: flex;
        justify-content: space-between;
    }

    .shop-all,
    .shop-by-collections {
        font-size: .85em;
        font-weight: 400;
    }

    .dropdown-toggle-btn {
        font-size: 900;
        cursor: pointer;
    }

}
