/* Mobile -- 1 */
@media only screen and (max-width: 400px) {
    .secThree-container {
        margin: 0 auto;
        width: 90%;
        margin-bottom: 40px;
    }

    .secThree-text {
        text-align: center;
        margin: 0 auto;

    }

    .secThree-title {
        font-size: 1.6em;
    }

    .secThree-content {
        font-size: .85em;
        line-height: 1.5em;
        margin-top: -10px;
    }

    .Three-pic {
        display: none;
    }

    .Three-pic-container {
        width: 100%; 
        height: 60vw;
        background: url(./sec3-4.jpg) no-repeat center;
        background-size: cover;
        overflow: hidden;
        margin-top: 16px;
    }

}

/* Mobile -- 1 */
@media only screen and (min-width: 401px) and (max-width: 487px) {
    .secThree-container {
        margin: 0 auto;
        width: 90%;
        margin-bottom: 40px;
    }

    .secThree-text {
        text-align: center;
        margin: 0 auto;

    }

    .secThree-title {
        font-size: 1.6em;
    }

    .secThree-content {
        font-size: .85em;
        line-height: 1.5em;
        margin-top: -10px;
    }

    .Three-pic {
        display: none;
    }

    .Three-pic-container {
        width: 100%; 
        height: 45vw;
        background: url(./sec3-2.jpg) no-repeat center;
        background-size: cover;
        overflow: hidden;
        margin-top: 16px;
    }

}

/* Mobile -- 2 */
@media only screen and (min-width: 488px) and (max-width: 699px) {
    .secThree-container {
        margin: 0 auto;
        width: 90%;
        margin-bottom: 40px;
    }

    .secThree-text {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .secThree-title {
        font-size: 1.7em;
    }

    .secThree-content {
        font-size: .85em;
        line-height: 1.5em;
        margin-top: -10px;
    }

    .Three-pic {
        display: none;
    }

    .Three-pic-container {
        width: 100%; 
        height: 230px;
        background: url(./sec3-1.jpg) no-repeat right;
        background-size: cover;
        overflow: hidden;
        
    }

}

/* Mobile -- 3 */
@media only screen and (min-width: 700px) and (max-width: 899px) {
    .secThree-container {
        margin: 0 auto;
        width: 90%;
        margin-bottom: 40px;
    }

    .secThree-text {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .secThree-title {
        font-size: 1.8em;
    }

    .secThree-content {
        font-size: .85em;
        line-height: 1.5em;
    }

    .Three-pic {
        display: none;
    }

    .Three-pic-container {
        width: 100%; 
        height: 280px;
        background: url(./sec3-1.jpg) no-repeat center;
        background-size: cover;
        overflow: hidden;
        
    }

}

/* Pad */
@media only screen and (min-width: 900px) and (max-width: 1199px) {
    .secThree-container {
        margin: 0 auto;
        width: 90%;
        margin-bottom: 50px;
    }

    .secThree-text {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .secThree-title {
        font-size: 2em;

    }

    .secThree-content {
        font-size: .9em;
        line-height: 1.5em;
        margin-top: -20px;
    }

    .Three-pic {
        width: 100%; 
    }
}

/* Desktop */

@media only screen and (min-width: 1200px) {

    .secThree-container {
        margin: 0 auto;
        width: 76%;
        margin-bottom: 100px;
    }

    .secThree-text {
        text-align: center;
        margin: 30px auto;
    }

    .secThree-title {
        font-size: 2em;
        
    }

    .secThree-content {
        font-size: 1em;
        line-height: 1.5em;
    }

    .Three-pic {
        width: 100%; 
    }


}