/* Mobile */
@media only screen and (max-width: 849px) {

    .q10-page-overview {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
        
    }
}

/* Pad */
@media only screen and (min-width: 850px) and (max-width: 1199px) {

    .q10-page-overview {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-left: 4px;
    }
}

/* Desktop */

@media only screen and (min-width: 1200px) and (max-width: 1440px) {

    .q10-page-overview {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-left: 15px;
    }

    
}

/* Max-Desktop */

@media only screen and (min-width: 1441px) {

    .q10-page-overview {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-left: 13px;
        
    }
}
