/* Mobile */

@media only screen and (max-width: 499px) {
    .header-container {
        position: relative;
        width: 100%;
        height: 380px;
        overflow: hidden;
        background: url(./header4.jpg) no-repeat center;
        background-size: cover;
        margin-top: 60px;
        cursor: pointer;
    }

    
    .header-content {
        position: absolute;
        top: 10%;
        left: 35.5%;
        text-align: right;
        line-height: .8em;
        width: 60vw;
        
        
    }
    
    .header-title {
        font-size: 1.6em;
        line-height: 1.5em;
        
        
    }
    
    .ContentTextContainer {
        margin-top: -2vh;
        
    }

    .content {
        font-size: .7em;  
        line-height: 1.5em;
    }

    
    h3.CTA {
        font-size: .8em;
        margin-top: 4vh;
        text-decoration: underline;
        cursor: pointer;
    }
    
}



/* Tablet 2 */

@media only screen and (min-width: 500px) and (max-width: 638px) {
    .header-container {
        position: relative;
        width: 100%;
        height: 530px;
        overflow: hidden;
        background: url(./header3.jpg) no-repeat center;
        background-size: cover;
        margin-top: 60px;
        cursor: pointer;
    }

    
    .header-content {
        position: absolute;
        top: 8%;
        left: 50%;
        overflow: hidden;
        text-align: right;
        line-height: 1em;
        width: 45vw;
    }
    
    .header-title {
        font-size: 2em;
        line-height: 1.5em;
        
    }
    
    .ContentTextContainer {
        margin-top: -1vh;
    }

    .content {
        font-size: .9em;  
        line-height: 2em;
        
    }

    
    h3.CTA {
        font-size: 1em;
        margin-top: 4vh;
        text-decoration: underline;
        cursor: pointer;
    }
    
}




/* Desktop */

@media only screen and (min-width: 769px) {
    .header-container {
        margin-top: 50px;
        position: relative;
        width: 100%;
        height: 530px;
        overflow: hidden;
        background: url(./header2.jpg) no-repeat center;
        background-size: cover;
        cursor: pointer;
    }
    

    .header-content {
        position: absolute;
        top: 8%;
        left: 55%;
        overflow: hidden;
        text-align: center;
        
    }
    
    .header-title {
        font-size: 2.2em;
        line-height: 1.4em;
    }
    
    .content {
        font-size: .9em;  
        line-height: 1.1em;
    }
    
    h3.CTA {
        font-size: 1em;
        margin-top: 5vh;
        text-decoration: underline;
        cursor: pointer;
    }
    
}


/* Tablet */

@media only screen and (min-width: 639px) and (max-width: 768px) {
    .header-container {
        position: relative;
        width: 100%;
        height: 530px;
        overflow: hidden;
        background: url(./header1.jpg) no-repeat center;
        background-size: cover;
        margin-top: 60px;
        cursor: pointer;
    }

    
    .header-content {
        position: absolute;
        top: 10%;
        left: 52%;
        overflow: hidden;
        text-align: right;
        line-height: 1.5em;
        width: 44vw;
    }
    
    .header-title {
        font-size: 2em;
        line-height: 1.5em;
        
    }
    
    .ContentTextContainer {
        margin-top: -1vh;
        font-size: 1em;
    }

    
    h3.CTA {
        font-size: 1em;
        margin-top: 4vh;
        cursor: pointer;
        text-decoration: underline;
    }
    
}




