@media only screen and (max-width: 849px) {
    .hair-page-container {
        width: 90%;
        margin: 100px auto;
        display: flex;
        flex-direction: column;
        
    }
}

@media only screen and (min-width: 850px) {
    .hair-page-container {
        margin: 100px auto;
        width: 80%;
        display: flex;
    }
}
