/* Mobile -- 1 */
@media only screen and (max-width: 399px) {
    .about-header {
        margin-top: 50px;
        position: relative;
        width: 100%;
        height: 300px;
        overflow: hidden;
        background: url(./desktop.jpg) no-repeat center;
        background-size: cover;
        background-attachment: fixed;
    }
    

    .about-header-content {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
        
    }

    .header-title1 {
        font-size: 1.6em;
        font-weight: 600;
        color: #50B5D8;
    }

    .header-title2 {
        font-size: 2.9em;
        font-weight: 900;
        margin-top: 5px;
        color: #50B5D8;
    }

    .waterDrop {
        width: 90px;
        position: absolute;
        top: 280px;
        right: 0px;
    }
}

/* Mobile -- 2 */
@media only screen and (min-width: 400px) and (max-width: 549px) {
    .about-header {
        margin-top: 50px;
        position: relative;
        width: 100%;
        height: 320px;
        overflow: hidden;
        background: url(./desktop.jpg) no-repeat center;
        background-size: cover;
        background-attachment: fixed;
    }
    

    .about-header-content {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
        
    }

    .header-title1 {
        font-size: 1.6em;
        font-weight: 600;
        color: #50B5D8;
    }

    .header-title2 {
        font-size: 3.2em;
        font-weight: 900;
        margin-top: 12px;
        color: #50B5D8;
    }

    .waterDrop {
        width: 100px;
        position: absolute;
        top: 290px;
        right: 15px;
    }

    .waterDrop {
        width: 110px;
        position: absolute;
        top: 300px;
        right: 10px;
    }
}

/* Pad */
@media only screen and (min-width: 550px) and (max-width: 879px) {
    .about-header {
        margin-top: 50px;
        position: relative;
        width: 100%;
        height: 450px;
        overflow: hidden;
        background: url(./desktop.jpg) no-repeat center;
        background-size: cover;
        background-attachment: fixed;
    }
    

    .about-header-content {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
        
    }

    .header-title1 {
        font-size: 2em;
        font-weight: 600;
        color: #50B5D8;
    }

    .header-title2 {
        font-size: 4.6em;
        font-weight: 900;
        margin-top: 20px;
        color: #50B5D8;
    }

    .waterDrop {
        width: 130px;
        position: absolute;
        top: 380px;
        right: 20px;
    }
}

/* Desktop */

@media only screen and (min-width: 880px) {
    .about-header {
        margin-top: 50px;
        position: relative;
        width: 100%;
        height: 500px;
        overflow: hidden;
        background: url(./desktop.jpg) no-repeat center;
        background-size: cover;
        background-attachment: fixed;
    }

    .about-header-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
        
    }

    .header-title1 {
        font-size: 3em;
        font-weight: 600;
        color: #50B5D8;
    }

    .header-title2 {
        font-size: 5.5em;
        font-weight: 900;
        margin-top: 20px;
        color: #50B5D8;
    }

    .waterDrop {
        width: 150px;
        position: absolute;
        top: 430px;
        right: 80px;
    }

    
}