/* Mobile - 1 */
@media only screen and (max-width: 510px) {
   
    .go-top {
      transition: 0.2s ease-in-out;
    }

    .go-top:hover {
      transform: translateY(-2px);
    } 

    .to-top-icon {
        width: 40px;
        animation: tremble 1.2s infinite alternate;
        cursor: pointer;
    }

    @keyframes tremble {
        from {
          transform:rotateY(0deg);
        }
        to {
          transform:rotateY(180deg);
        }
    }

    .to-top-title {
        font-size: .55em;
        padding: 5px 0;
        margin-top: -4px;
       
    }

}


/* Mobile - 2 */
@media only screen and (min-width: 510px) and (max-width: 849px) {

    .go-top {
      transition: 0.2s ease-in-out;
    }

    .go-top:hover {
      transform: translateY(-2px);
    } 

    .to-top-icon {
        width: 42px;
        animation: tremble 1.2s infinite alternate;
        cursor: pointer;
    }

    @keyframes tremble {
        from {
          transform:rotateY(0deg);
        }
        to {
          transform:rotateY(180deg);
        }
    }

    .to-top-title {
        font-size: .55em;
        padding: 5px 0;
        margin-top: -4px;
       
    }

}


/* Pad */
@media only screen and (min-width: 850px) and (max-width: 1199px) {

    .go-top {
      transition: 0.2s ease-in-out;
    }

    .go-top:hover {
      transform: translateY(-2px);
    }

    .to-top-icon {
        width: 45px;
        animation: tremble 1.2s infinite alternate;
        cursor: pointer;
    }

    @keyframes tremble {
        from {
          transform:rotateY(0deg);
        }
        to {
          transform:rotateY(180deg);
        }
    }

    .to-top-title {
        font-size: .65em;
        padding: 5px 0;
        margin-top: -4px;
        margin-bottom: 0px;
    }


}


/* Desktop */
@media only screen and (min-width: 1200px) and (max-width: 1500px){

    .go-top {
      transition: 0.2s ease-in-out;
    }

    .go-top:hover {
      transform: translateY(-2px);
    }

    .to-top-icon {
        width: 45px;
        animation: tremble 1.2s infinite alternate;
        cursor: pointer;
    }

    @keyframes tremble {
        from {
          transform:rotateY(0deg);
        }
        to {
          transform:rotateY(180deg);
        }
      }

    .to-top-title {
        font-size: .7em;
        padding: 5px 0;
        margin-top: -6px;
        margin-bottom: 0px;
    }

}


/* Max-Desktop */
@media only screen and (min-width: 1501px) {

    .go-top {
      transition: 0.2s ease-in-out;
    }

    .go-top:hover {
      transform: translateY(-2px);
    }

    .to-top-icon {
        width: 45px;
        animation: tremble 1.2s infinite alternate;
        cursor: pointer;
    }

    @keyframes tremble {
        from {
          transform:rotateY(0deg);
        }
        to {
          transform:rotateY(180deg);
        }
      }

    .to-top-title {
        font-size: .7em;
        padding: 5px 0;
        margin-top: -4px;
        margin-bottom: 0px;
    }

}