@media only screen and (max-width: 469px) {
    .CollectionsBanner_container {
        margin-top: -20px;
        margin-bottom: 45px;
        width: 100%;
        height: 200px;
        overflow: hidden;
        background: url(./HP_collections_banner_3.jpg) no-repeat center;
        background-size: cover;
        cursor: pointer;
    }
    
    .CollectionsBanner_content {
        transform: translate(0, 46%);
        text-align: center;
        font-size: .68em;
        font-weight: 600;
        line-height: 1.3em;
        cursor: pointer;
        color: rgb(35, 78, 131);
        letter-spacing: 1.5px;
    }

    
    .CTA_container {
        margin: 25px auto;
        width: 200px;
        padding: 6px 0px;
        border: 1px solid;
    }


    .CollectionsBanner_CTA {
        font-size: 1em;
    }
    
    .CollectionsBanner_arrow {
        font-weight: 900;
    }
}


@media only screen and (min-width: 470px) and (max-width: 767px) {
    .CollectionsBanner_container {
        margin-top: -15px;
        margin-bottom: 45px;
        width: 100%;
        height: 250px;
        overflow: hidden;
        background: url(./HP_collections_banner_2.jpg) no-repeat center;
        background-size: cover;
        cursor: pointer;
    }
    
    .CollectionsBanner_content {
        transform: translate(0, 60%);
        text-align: center;
        font-size: .8em;
        font-weight: 600;
        line-height: 1.3em;
        cursor: pointer;
        color: rgb(35, 78, 131);
        letter-spacing: 1.5px;
    }

    
    .CTA_container {
        margin: 32px auto;
        width: 200px;
        padding: 6px 0px;
        border: 1px solid;
    }

    .CollectionsBanner_CTA {
        font-size: .9em;
    }
    
    .CollectionsBanner_arrow {
        font-weight: 900;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .CollectionsBanner_container {
        margin-top: -20px;
        margin-bottom: 90px;
        width: 100%;
        height: 250px;
        overflow: hidden;
        background: url(./HP_collections_banner.jpg) no-repeat center;
        background-size: cover;
        cursor: pointer;
    }
    
    .CollectionsBanner_content {
        transform: translate(0, 38%);
        text-align: center;
        font-size: 1em;
        font-weight: 600;
        line-height: 1.3em;
        cursor: pointer;
        color: rgb(35, 78, 131);
        letter-spacing: 1.5px;
    }

    
    .CTA_container {
        margin: 32px auto;
        width: 200px;
        padding: 6px 0px;
        border: 1px solid;
    }

    .CollectionsBanner_CTA {
        font-size: .8em;
    }
    
    .CollectionsBanner_arrow {
        font-weight: 900;
    }
}

@media only screen and (min-width:1200px) {
    .CollectionsBanner_container {
        margin-top: 70px;
        margin-bottom: 75px;
        width: 100%;
        height: 250px;
        overflow: hidden;
        background: url(./HP_collections_banner.jpg) no-repeat center;
        background-size: cover;
        cursor: pointer;
    }
    
    .CollectionsBanner_content {
        transform: translate(0, 28%);
        text-align: center;
        font-size: 1.1em;
        font-weight: 600;
        line-height: 1.5em;
        cursor: pointer;
        color: rgb(35, 78, 131);
        letter-spacing: 1.5px;
    }

    
    .CTA_container {
        margin: 28px auto;
        width: 200px;
        padding: 4px 0px;
        border: 1px solid;
    }

    .CollectionsBanner_CTA {
        font-size: .8em;
    }
    
    .CollectionsBanner_arrow {
        font-weight: 900;
    }
}

