@media only screen and (max-width: 469px) {
    .CollectionsBanner_container {
        margin-top: -20px;
        margin-bottom: 45px;
        width: 100%;
        height: 200px;
        overflow: hidden;
        background: url(./HP_collections_banner_3.jpg) no-repeat center;
        background-size: cover;
        cursor: pointer;
    }
    
    .CollectionsBanner_content {
        transform: translate(0, 180%);
        text-align: center;
        font-size: .68em;
        line-height: 1.3em;
        cursor: pointer;
        letter-spacing: 1.5px;
    }

    
}


@media only screen and (min-width: 470px) and (max-width: 767px) {
    .CollectionsBanner_container {
        margin-top: -15px;
        margin-bottom: 45px;
        width: 100%;
        height: 250px;
        overflow: hidden;
        background: url(./HP_collections_banner_2.jpg) no-repeat center;
        background-size: cover;
        
    }
    
    .CollectionsBanner_content {
        transform: translate(0, 200%);
        text-align: center;
        font-size: .8em;
        line-height: 1.3em;
        letter-spacing: 1.5px;
    }

    

    
 
}


@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .CollectionsBanner_container {
        margin-top: -20px;
        margin-bottom: 90px;
        width: 100%;
        height: 250px;
        overflow: hidden;
        background: url(./HP_collections_banner.jpg) no-repeat center;
        background-size: cover;
        
    }
    
    .CollectionsBanner_content {
        transform: translate(0, 145%);
        text-align: center;
        font-size: 1em;
        line-height: 1.3em;
        letter-spacing: 1.5px;
    }


    
}

@media only screen and (min-width:1200px) {
    .CollectionsBanner_container {
        margin-top: 70px;
        margin-bottom: 75px;
        width: 100%;
        height: 250px;
        overflow: hidden;
        background: url(./HP_collections_banner.jpg) no-repeat center;
        background-size: cover;
        
    }

 
    
    
    .CollectionsBanner_content {
        transform: translate(0, 100%);
        text-align: center;
        font-size: 1.1em;
        line-height: 1.5em;
        letter-spacing: 1.5px;
    }


  
}

